.home {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}

.home .article {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 0.5rem
}

.home h2 {
	font-size: 1.5rem;
}

.home .gallery_images {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	margin: 2rem auto;
}

.home .gallery_text {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 0.5rem;
	font-style: italic;
}

.home .interior {
	margin: 0 auto 4rem;
	display: flex;
	justify-content: center;
	gap: 2rem;
}

.home .interior img {
	width: 50%;
}

.home .interior_text {
	height: 400px;
	overflow-y: auto;
}